.book {
  margin-left: 400px;
  margin-right:400px;
  margin-top:100px;
  font-size: calc(15px + 2vmin);
  color: black;
}

.book-label{
  display: flex;

  justify-content: center;
  justify-content: space-between ;
}

.desc{
    height: 100px;
    width: 200px;
}

input{
  height: 22px; 
  font-size: 16px;
}