.App {
  text-align: center;
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
a{
  color:black;
  font: bold;
  font-size: 150%;
  text-decoration:none; 
}

.link{
 margin-left: -1350px;
 text-shadow: 2px 2px;
 font-size: 200%;
 color:black;
}

.sign{
 margin-left:1350px;
 margin-right: 40px;
 display: flex;
 justify-content: space-between;
}